@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400&display=swap');

:root {
    --main-bg-color: #03042e;
    --main-accent-color: #1f95f0;
    --main-highlight-color: #0c1b2a;

    --main-text-color: #5ae20e;
    --secondary-text-color: #286120;
    --main-light-text-color: #c8e9c4;
    --main-footer-color: #1a1b47;
} 


*, *:before, *:after {
    box-sizing: border-box;

}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {

    color: var(--main-text-color);
}

p {
    color: var(--main-light-text-color);
    font-weight: 200;
}

header {
    background-color: var(--main-highlight-color);
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;    
}

#logo {
    font-size: 32px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

#hero {
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 80px;
    display: flex;
    
    gap: 300px;
}

#hero-text {
    max-width: 600px;
}

#hero-title {
    font-size: 50px;
}

#hero-paragraph {
    font-size: 22px;
    font-weight: 300;
    color: var(--main-light-text-color);
}

#hero-picture {
    width: 800px;
}


.btn-arrow-main {
    min-width: 130px;
    height: 35px;
    color: var(--main-text-color);
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--secondary-text-color);
    background-color: var(--main-highlight-color)
}
.btn-arrow-main:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btn-arrow-main:hover:after {
    opacity: 1;
    right: 10px;
}
.btn-arrow-main:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 28px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}


.btn-arrow-secondary {
    min-width: 130px;
    height: 35px;
    color: var(--main-light-text-color);
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-text-color);
}
.btn-arrow-secondary:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btn-arrow-secondary:hover:after {
    opacity: 1;
    right: 10px;
}
.btn-arrow-secondary:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 28px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

#hero-btns-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

#getstartedbtn {
    height: 50px;
    width: 200px;
}

#getstartedbtn:hover:after {
    line-height: 41px;
}

#moreinfobtn {
    height: 50px;
    width: 200px;
}

#moreinfobtn:hover:after {
    line-height: 45px;
}

#communication {
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
}

#communication-img {
    width: 80px;
}

#communication-container-left {
    max-width: 500px;
    display: flex;
}

#communication-lefttext-container {
    margin-top: 20px;
    margin-left: 20px;
}

.communication-card {
    max-width: 200px;
}

#footer {
    margin-top: 10%;
    padding-left: 90px;
    padding-right: 90px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 94%;
}

#copyright-Text {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    color: var(--secondary-text-color);
}

#footer {
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#footerSlogan {
    width: 500px;
    text-align: center;
}

#footerAll {
    background-color: var(--main-footer-color);
    padding-bottom: 5px;
}

#inputFooter {
    margin-top: 5px;
    text-align: center;
}

input {
    width: 225px;
    height: 35px;
    border-radius: 5px;
    border: none;
    border-style: none;
}

#btnSubscribe {
    min-width: 130px;
    height: 35px;
    color: var(--main-light-text-color);
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-text-color);
}
#btnSubscribe:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
#btnSubscribe:hover:after {
    opacity: 1;
    right: 10px;
}
#btnSubscribe:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 28px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.socialMediaIcons {
    align-items: center;
    text-align: center;
}

#footerInsta {
    width: 30px;
}