@import  url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lexend+Deca:wght@500;900&display=swap');

:root {
    --main-bg-color: #03042e;
    --main-accent-color: #1f95f0;
    --main-highlight-color: #0c1b2a;

    --main-text-color: #5ae20e;
    --secondary-text-color: #286120;
} 

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}